<div class="container">
  <form action="/reminder" method="POST">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="titleInput" placeholder="Title" name="title">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="descriptionInput" rows="3" placeholder="Description" name="description"></textarea>
    </div>
    <div class="form-group">
      <label for="location">location</label>
      <textarea class="form-control" id="locationInput" rows="3" placeholder="location" name="location"></textarea>
    </div>
    <div class="form-group">
      <label for="time">time</label>
      <!-- <textarea class="form-control" id="timeInput" rows="3" placeholder="time" name="time"></textarea> -->
   
    <input type="datetime-local" name="date"> . 
  </div>

    <div class="form-group">
      <label for="tags">Tags(comma separated)</label>
      <textarea class="form-control" id="tagsInput" rows="3" placeholder="tag1,tag2" name="tags"></textarea>
    </div>
    <div class="form-group">
      <label for="tasks">Tasks(comma separated)</label>
      <textarea class="form-control" id="tasksInput" rows="3" placeholder="task1,task2,task3" name="tasks"></textarea>
    </div>
    
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
