<div class="container">
  <form action="/reminder" method="POST">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="titleInput" placeholder="Title" name="title">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="descriptionInput" rows="3" placeholder="Description"
        name="description"></textarea>
    </div>
    <div class="form-group">
      <label for="location">location</label>
      <textarea class="form-control" id="locationInput" rows="3" placeholder="location" name="location"></textarea>
    </div>
    <div class="form-group">
      <label for="tags">Tags</label>
      <textarea class="form-control" id="tagsInput" rows="3" placeholder="tags" name="tags"></textarea>
    </div>
    <div class="form-group">
      <label for="tasks">Tasks (*one task per line)</label>
      <textarea class="form-control" id="tasksInput" rows="3" placeholder="task1" name="tasks"></textarea>
    </div>


    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>