<div class="container">
  <h1 class="page-header">Reminders</h1>

<ul class="list-group">
  <% reminders.forEach(function (reminderItem) { %>
    <li class="list-group-item">
      <strong><%= reminderItem.title %>: </strong>
      <%= reminderItem.description %>

      <% if (reminderItem.tags) { %>
   <div class="tags-list small-tags">
    <% reminderItem.tags.forEach(tag => {%>
        <span class="tag"><%= tag %> </span>  
      <%  }) %>
    </div>
  <%  } %> 

    <div class="status">
      <% if (reminderItem.completed == true) { %>
        <span class="badge badge-success sttus">Completed</span>
      <% } else if (reminderItem.completed == false) { %>
        <span class="badge badge-danger">Not Completed yet</span>
      <% } %>
      <a class="pull-right" href=<%= "/reminder/" + reminderItem.id %>>View</a>

    </div>
</li>
  <% }) %>


    
